<p class="section-header section-header-main">discover puppies</p>
<div class="discovery-wrapper">
	<div class="puppy-card">
		<div class="puppy-card-container" data-puppyid="<%=data[0]._id%>">
			<img src="<%=data[0].photo%>" class="puppy-card-thumbnail" />
			<div class="puppy-card-info">
				<p class="puppy-card-name"><%=data[0].name%></p>
				<i class="material-icons puppy-card-icon">info</i>
			</div>
			<div class="puppy-card-expanded">
				<p class="name">
					<span class="puppy-card-expanded-label">Name:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].name%></span>
				</p>
				<p class="gender">
					<span class="puppy-card-expanded-label">Gender:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].gender%></span>
				</p>
				<p class="age">
					<span class="puppy-card-expanded-label">Age:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].age%></span>
				</p>
				<p class="size">
					<span class="puppy-card-expanded-label">Size:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].size%></span>
				</p>
				<p class="Training">
					<span class="puppy-card-expanded-label">Training:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].training%></span>
				</p>
				<p class="characteristics">
					<span class="puppy-card-expanded-label">Characteristics:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].characteristics%></span>
				</p>
				<p class="compatibility">
					<span class="puppy-card-expanded-label">Compatibility:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].compatibility%></span>
				</p>
				<p class="biography">
					<span class="puppy-card-expanded-label">Biography:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].biography%></span>
				</p>
				<p class="adoption-fee">
					<span class="puppy-card-expanded-label">Adoption Fee:</span> 
					<span class="puppy-card-expanded-content"><%=data[0].adoptionFee%></span>
				</p>
				<div class="shelter-info">
					<p class="puppy-card-expanded-label">Shelter Information:
					</p>
					<p class="name"> 
						<span class="puppy-card-expanded-content"><%=data[0].shelterId.name%></span>
					</p>
					<p class="address">
						<span class="puppy-card-expanded-content"><%=data[0].shelterId.address.number%> <%=data[0].shelterId.address.street%></span>
					</p>
					<p class="address">
						<span class="puppy-card-expanded-content"><%=data[0].shelterId.address.city%> <%=data[0].shelterId.address.state%> <%=data[0].shelterId.address.zipcode%></span>
					</p>
					<p class="telephone">
						<span class="puppy-card-expanded-content"><%=data[0].shelterId.telephone%></span>
					</p>
					<p class="email">
						<span class="puppy-card-expanded-content"><%=data[0].shelterId.email%></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="display: none;" class="hidden-puppy" data-nextpuppy="<%= data[2].nextPosition %>">
	<img src="<%=data[1].photo%>" />
	<p><%- JSON.stringify(data[1]) %></p>
</div>